* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    min-height: 100dvh;
    padding: 30px;
}
fieldset {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    padding: 10px 20px;
    max-width: 100%;
}
.PTN {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.PTN h3 {
    margin-left: 10px;
}
.result {
    text-align: left;
    max-width: 100%;
}
.btn-close {
    text-align: right;
    margin-top: 10px;
}
.PTN img {
    max-width: 100px;
    margin-right: 10px;
}
.btn-close button {
     float: right;
}
.loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid rgb(0, 153, 255);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 30s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.5);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}